.event {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.container {
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-image: url('./images/bg.svg');
    height: 100%;
}

.content {
    text-align: left;
}

.image {
    width: 100%;
    height: 200px; 
}