.heading {
    font-family: var(--cabin);
    text-align: center;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 800px) {
    .heading {
        font-size: 50px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .heading {
        font-size: 80px;
    }
}