/* Colour Scheme */
:root {
    --fandango-pink: #e8417cff;
    --red-violet-crayola: #bc3b8dff;
    --rich-black-fogra-39: #090809ff;
    --light-sky-blue: #73cdffff;
    --bdazzled-blue: #235789ff;
}