@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');

:root {
    /* Colour Scheme */
    --colour1: #e8417c;
    --colour2: #bc3b8d;
    --colour3: #090809;
    --colour4: #73cdff;
    --colour5: #235789;

    /* Fonts */
    --font: 'Cabin', sans-serif;
}