.button {
    display: block;
    border-radius: 0px!important;
    color: black;
    border: 0px;
    width: 100%;
    border-radius: 0px;
    transition: 0.1s linear;
}

.button:hover {
    color: white;
    background-color: var(--avant-colour1);
}

.col {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    height: 30px;
}

.content {
    text-align: left;
    margin: 0px;
}

.arrow {
    text-align: right;
}

.archive {
    background-color: rgb(128,128,128);
}

.folder {
    padding-left: 8%;
    padding-right: 8%;
    background-color:rgb(168,168,168);
}

.item {
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(211,211,211);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 991px) {
    .icon {
        font-size: 12px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {
    .icon {
        font-size: 20px;
    }
}