.footer {
  background-color: #e8417cff;
  color: white;
  text-align: center;
  font-family: var(--cabin);
}

.icon {
  font-size: 60px;
  margin-left: 1vw;
  margin-right: 1vw;
}

.link {
  background-color: transparent;
  border: 0px;
}

