.header {
    position: relative;
    background-size: contain;
}

.headingContainer {
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 15vh;
}

.heading {
    font-family: var(--avant-font);
    margin: 0px;
    font-size: 100px;
    filter: drop-shadow(0px 0px 100px #000000);
}

.subHeading {
    font-family: var(--avant-font);
    margin: 0px;
    font-size: 35px;
    filter: drop-shadow(0px 0px 100px #000000);
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 699px) {
    .image {
        height: 300px;
        width: 300px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 700px) {
    .image {
        height: 600px;
        width: 600px;
    }
}