.button {
    border-radius: 0px;
    height: 50px;
    background-color: transparent;
    border: none;
}

.button:hover, .button:focus {
    border: none;
    background-color: var(--link-colour);
}

.link {
    text-decoration: none;
    color: black;
    font-family: var(--font);
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button:hover .link {
    color: white;
    text-decoration: none!important;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 800px) {
    .button {
        font-size: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 801px) {
    .button {
        font-size: 26px;
    }
}