.button {
    width: 100%;
    border-radius: 0px;
    height: 50px;
    color: black;
    background-color: rgb(128,128,128);
    border: none!important;
}

.button:hover, .button:focus:active {
    border: none!important;
    background-color: var(--colour1)!important;
}

.folderButton {
    background-color:rgb(168,168,168);
    padding-left: 5%;
    padding-right: 5%;
}

.itemButton {
    background-color: rgb(211, 211, 211);
    padding-left: 10%;
    padding-right: 10%;
}

.icon {
    font-size: 23px;
}

.contentCol {
    text-align: left;
}

.Col {
    padding: 0px;
}