.button {
    position: relative;

    height: fit-content;
    width: fit-content;

    margin-left: auto;
    margin-right: auto;
}

.small {
    width: 150px;
    height: 60px;
}

.big {
    width: 250px;
    height: 80px;
}

.link {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: white;
    color: var(--avant-colour1);
    border: 1px solid var(--avant-colour1);
    box-sizing: border-box;
    border-radius: 0px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none!important;
}

.link:hover {
    text-decoration: none!important;
    color: var(--avant-colour1);
}

.bigLink {
    font-size: 40px;
}

.smallLink {
    font-size: 24px;
}

.button::before {
    z-index: 0;
    position: absolute;
    content: '';
    background-color: var(--avant-colour1);
    width: 100%;
    height: 100%;
    transition: 150ms linear;
}

.button.small::before {
    top: 5px;
    left: -5px;
}

.button.big::before {
    top: 10px;
    left: -10px;
}

.button.big:hover::before {
    top: -10px;
    left: 10px;
}

.button.small:hover::before {
    top: -5px;
    left: 5px;
}